<main>
  <div class="banner">
    <h1>The Cat Hotel</h1>
    <h3>A home away from home for your pets</h3>
    <div class="banner__button-box">
      <button mat-flat-button color="primary" (click)="onBookedClicked()">
        Book Your Pet's Vacation
      </button>
      <a routerLink="/tour" class="tour-link">Tour The Cat Hotel</a>
    </div>
  </div>

  <section class="home-about">
    <h2>What is The Cat Hotel?</h2>
    <app-about></app-about>
  </section>

  <section class="info-section">
    <h2 class="perks-header">The Cat Hotel Perks</h2>
    <div class="info">
      <app-info-card *ngFor="let data of cardData" [title]="data.title" [content]="data.content"></app-info-card>
    </div>
    <app-info-pills></app-info-pills>
  </section>

  <section class="testimonial">
    <div class="back-cat"></div>
    <app-testimonial *ngFor="let quote of quoteData" [quoteData]="quote"></app-testimonial>
  </section>
</main>
