<main>
  <div class="banner">
    <h1>The Cat Hotel</h1>
    <h3>A home away from home for your pets</h3>
    <div>
      <button mat-flat-button color="primary" (click)="onBookedClicked()">
        Book Your Pet's Vacation
      </button>
    </div>
  </div>

  <h2 class="perks-header">The Cat Hotel Perks</h2>
  <section class="info">
    <app-info-card *ngFor="let data of cardData" [title]="data.title" [content]="data.content"></app-info-card>
  </section>

  <section class="testimonial">
    <app-testimonial></app-testimonial>
  </section>
</main>