.testimonial-card {
  padding: 1rem;

  @media screen and (min-width: 700px) {
    max-width: 40rem;
    margin: 2rem auto;
  }

  &--header {
    display: flex;
    align-items: center;
    border-bottom: 2px solid #673ab7;
    padding: 0 .5rem .5rem .5rem;
    margin-bottom: .5rem;
    position: relative;

    &:before{
      content: "";
      width: 6px;
      height: 6px;
      background: #673ab7;
      display: inline-block;
      border: 2px solid #673ab7;
      position: absolute;
      bottom: -5px;
      left: 50%;
      margin: 0 0 0 -3px;
      transform:rotate(45deg);
    }

    .headers {
      margin-left: .5rem;

      h3 {
        margin: 0;
        font-size: 1.2rem;
        // color: #673ab7;
      }

      h4 {
        margin: 0;
        font-size: .9rem;
        font-style: italic;
        opacity: .5;
      }
    }
  }

  img {
    width: 3rem;
    border-radius: 50%;
  }

  blockquote {
    margin: 0;
    position: relative;
    padding: 0 .5rem;

    p {
      letter-spacing: .1ch;
    }
  }

  .iquote {
    position: absolute;
    top: -4.7rem;
    right: 4.5rem;
    opacity: .2;
    font-size: 7rem;
    color: #ffd740;
  }
}
