$accent-color: #ffd740;

.info-card {
  width: 17rem;
  text-align: center;
  margin: .5rem 1rem .5rem 1rem;

  &-header {
    justify-content: center;
  }

  hr {
    margin-bottom: 1rem;
    background-color: $accent-color;
    height: 2px;
    position: relative;
    border: 0;

    &:before{
      content: "";
      width: 6px;
      height: 6px;
      background: $accent-color;
      display: inline-block;
      border: 2px solid $accent-color;
      position: absolute;
      top: -5px;
      left: 50%;
      margin: 0 0 0 -3px;
      transform:rotate(45deg);
      -ms-transform:rotate(45deg); /* IE 9 */
      -webkit-transform:rotate(45deg); /* Opera, Chrome, and Safari */
    }
  }
}